<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Test">
            <classes>
                <class name="E2E_Test.E2EScenario"></class>
                <class name="TestRegisteration.TC_Registeration"></class>
                <class name="TestRegisteration.TC_VerifyRegOTP"></class>
                <class name="TestRegisteration.TC_LogIn"></class>
                <class name="TestRegisteration.TC_GetExam"></class>
                <class name="TestRegisteration.TC_EvaluateExam"></class>
                <class name="TestRegisteration.TC_LogOut"></class>
                <class name="TestRegisteration.TC_GetUser"></class>
                <class name="TestRegisteration.TC_RemoveUser"></class>
            </classes>
    </test>
</suite>